body{
  color: #53627A; 
 /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: bold; 
  border-color: #555555; 
  overflow: auto;
}
.navbar, .dropdown-menu {
    background: #afd911;
    border-bottom : 1px solid  #afd911;
}
ul.ui-autocomplete.ui-menu{
	width:400px;
	border: 1px solid black;
	background: #fff;
}
ul.ui-autocomplete.ui-menu li{
	padding: -25px;
}
.ui-menu-item{
	cursor: pointer;
	border-bottom: 1px solid gray;
	left: 0px !important;
}
ul{
	list-style-type: none;
}


.userStyle {
    text-transform: uppercase;
}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
 color: #555555;
}
ul.dropdown-menu{
	-webkit-box-shadow: none;
	box-shadow:none;
	font-size: 12px;
	min-width:auto;
	border-radius:0px;
}

.navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
}
.dash_Logo {
        margin-top: -5px;
        height: 35px;
        width: 185px;
}
.pdT55{
  padding-top: 55px;
}

.header-underline {
    font-size: 24px;
    color: #007197;
    border-bottom: 2px solid #ABABAB;
    padding-bottom: 5px;
    margin-top: 5px;
    position: relative;
}
.pt6{
	padding-top: 6px;
}
.btn-btnsuccess{
	background: #59A57A;
    border: 1px solid #59A57A;
}
.emp_lists_btn{
	background: white;
    text-decoration: none;
    border: 1px solid #afd911;
    margin-left: 5px;
    border-radius: 5px;
    margin-bottom: 2px;
    font-size: 11px;
    display: block;
    width: 30px;
}


#employeeListView table th {
	text-align :center;
}

.filterstyle > i {
	padding: 5px;
    background: #5BAA7D;
    text-decoration: none;
    border: 1px solid #ddd;
    margin-left: 5px;
    border-radius: 5px;
    padding-bottom: 5px;
    color: white;
	font-size: 12px !important;
	cursor:pointer;
	
}

#viewemployee_details > .panel-body {
	text-align:center;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #53627A;
    display: block !important;
    height: 25px;
    padding-bottom: 0;
    padding-right: 30px;
	line-height: 25px;
}

footer .text-muted {
	color: #000;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	background-image: url("./../img/avatar.jpeg");
	background-repeat: no-repeat;
	height: 204px;
	width: 202px;
	background-size: 204px 201px;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	height: 204px;
    width: 202px;
}

.fileUpload:hover {
	background-image: url("./../img/avatar.jpeg");
	background-repeat: no-repeat;
	height: 204px;
	width: 202px;
}

.panel-primary>.panel-heading{
    padding: 1px 15px;
    background-color: #5BAA7D;
    border-color: #5AAA7C;	
	border-radius : 0px;
}

.panel-primary {
    border-color: #5BAA7D;
	-webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.3);
}

.panel {
	border-radius : 0px;
}

.group {
	position:relative;
	margin-top: 30px;
}

textarea {
    overflow-y: hidden;
    padding-top:0px;
	resize: none;
    height: 25px;
	line-height:25px;
}

.save-addemployee-btn, .save-role-btn {
    border: 1px solid #fff;
    background: #197E17;
    margin-top: -10px;
}

.save-addemployee-btn:hover {
	background:#fff;
	color:black;
	border: 1px solid #197E17;
}


.panel-body {
	height : 500px;
	overflow-x:hidden;
	overflow-y:auto;
}

.panel{
	margin-top: 25px;
}

.group input[type="text"] {
	text-transform: capitalize;
}

.form-group.required .for-label:after{
	content:"*";
	color:red;
	padding-left: 2px;
}
.errorstyle {
	padding: 5px 10px;
}

.bg-danger .errormsg {
	color: #ff0000;
	padding-top: 5px;
	padding-left: 5px;
}


.bg-success .errormsg {
	color: #044403;
	padding-top: 5px;
	padding-left: 5px;
}

.errorinput {
	border: 1px solid #ff0000 !important;
}

.glyphicon-ban-circle{
	color: red;
}

.glyphicon-ok {
	color: #044403;
}
.invalid {
	color:#FF0000;
}

.ml10 {
	margin-left :10px;
}

.modal-header{
	background: rgba(175, 217, 17, 0.55);
	color: #000;
}

.modal-footer {
	padding: 10px;
}

.modal-content{
	border-radius: 0px;
}

.delete-confirm{
	background: #C41D1D;
    border: 1px solid #C41D1D;
    border-radius: 1px;
}

.btn-cancel{
	background: #FFA500;
    border: 1px solid #FFA500;
    border-radius: 1px;
}

.btn-save{
	background: #197E17;
    border: 1px solid #197E17;
    border-radius: 1px;
}

.width98 {
	width: 98%;
}

.width80 {
	width: 80%;
}

.overflow {
	overflow: hidden !important;
}

#employeeBody {
	max-height:450px;
	overflow-y : auto;
	overflow-x : hidden;
}

.fieldBorder{
	margin-top: -15px;
	margin-left: 20px;
	color:#53627A;
	background: white;
	width: 200px;
	padding-left: 8px;
	margin-bottom: 25px;
}

.borderStyle{
	border: 1px solid #afd911;
	margin-top: 15px;
	border-radius: 5px;
}
.alltags{
	margin-left: 26px;
	opacity: 0.8 !important;
    box-shadow: 1px 1px 6px 0px black !important;
    border: none !important;
	margin-top: 15px;
}
.closetag{
    padding-left: 10px
}
.activeTags{
	opacity: 0.8 !important;
    box-shadow: 1px 1px 6px 0px black !important;
    border: none !important;
}
.avail_leave{
	border: 1px solid #337ab7 !important;
	padding: 10px !important;
	border-radius: 3px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.tagevent{
	margin-bottom:10px !important;
	margin-right: 10px !important;
}
<<<<<<< HEAD


.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 0px;
    list-style: none;
    background: none;
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}
.breadcrumb-arrow li a {
    position: relative;
    color: #999;
    text-decoration: none;
    background-color: #eeeeee;
    border: 1px solid #d3ea7c;
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #eeeeee;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #d3ea7c;
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #d3ea7c;
    border: 1px solid #d3ea7c;
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #d3ea7c;
}
.breadcrumb-arrow li a:active {
    background-color: #afd911;
    border: 1px solid #afd911;
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: #afd911;
}
.breadcrumb-arrow li span {
    color: #434a54
}

.LightButton {
    width: 104px;
    height: 26px;
    border-radius: 3px;
    border-style: none;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #383838;
    text-align: center;
    text-transform: uppercase;
    background: #FFC231;
}

.mrR20 {
    margin-right: 20px;
}

.SumoSelect {
    width: 100% !important;
}
.SumoSelect>.optWrapper>.options li.opt {
    padding: 12px !important;
}
.SumoSelect .select-all>span i, .SumoSelect>.optWrapper.multiple>.options li.opt span i{
	left: 28px !important;
}
.SumoSelect>.optWrapper>.options li label{
	left: 26px !important;
}