.pr40{
    padding-right: 40px;
}


.itemListButtons .glyphicon {
    cursor: pointer;
    font-size: 20px;
    margin-top: 15px;
    border: 1px solid #afd911;
    padding: 5px;
    text-align: center;
    color: #afd911;
    background: #555555;
}


.panel-body {
	height : 500px;
	overflow-y:auto;
}

legend a {
	color: inherit;
}
legend.legendStyle {
	padding-left: 5px;
	padding-right: 5px;
}
fieldset.fsStyle {
	font-family: Verdana, Arial, sans-serif;
	font-size: small;
	font-weight: normal;
	border: 1px solid #999999;
	padding: 4px;
	margin: 5px;
}
legend.legendStyle {
	font-size: 90%;
	color: #888888;
	background-color: transparent;
	font-weight: bold;
}

legend {
	width: auto;
	border-bottom: 0px;
}

.viewemployeetype {
	font-size:14px;
	padding-top : 10px;
}


.viewemployeetype  i{
	padding-right :10px;
	cursor : pointer;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail > h4 {
    /* padding: 7px 5px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
	margin : 0px;
}
.thumbnail h4 .info {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 0.6em;
    padding-left: 5px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 4px;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    cursor:  pointer;
}

.thumbnail h4 .info > span {
    margin-right: 10px;
}

.thumbnail img {
    width: 100%;
	height: 125px;
}

.thumbnail a.btn {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.empstyle {
	-webkit-box-shadow: -5px 7px 21px -6px rgba(148,143,148,1);
	-moz-box-shadow: -5px 7px 21px -6px rgba(148,143,148,1);
	box-shadow: -5px 7px 21px -6px rgba(148,143,148,1);
	border-top: 1px solid rgba(238, 238, 238, 0.91);
}

.employeeLists{
	font-size: 16px;
	text-transform: capitalize;
}

.emp_lists {
    background: white;
	margin-bottom :2px;
	cursor: pointer;
}

.emp_lists span {
	margin-left: 10px;
}

.emp_lists i{
    margin-right: 10px;
    margin-top: 10px;
}

i.fa {
	cursor:pointer;
	padding-right :10px;
	font-size:16px !important;
}

div:read-write {
	outline :none;
}
.alpha-active{
	background: #ccc;
}

.activeemployee {
	border-left: 3px solid rgba(78, 191, 21, 0.5)
}

.inactiveemployee {
	border-left: 3px solid rgba(255, 0, 0, 0.7);
}
