{% extends "base.html" %}
{% block content %}
<div class="row" style="padding-top: 55px" id="changePassword">
    <div class="col-xs-12 col-md-4 col-lg-4 col-sm-12">&nbsp;</div>
    <div class="col-xs-12 col-md-4 col-lg-4 col-sm-12">
        <p class="errorstyle bg-danger text-left hidden">
			<i class="glyphicon"></i> &nbsp;<span class="errormsg"></span>
		</p>
        <form role='form' id="changePassword-form">
			<div class="borderStyle" >
				<h3 class="fieldBorder">New Password</h3>
                <div class='col-md-12 col-lg-12'>
                    <div class="form-group">
                        <label>Old Password</label>
                        <input type='text' class="form-control" id="old_pass" required />
                    </div>
                </div>
                <div class='col-md-12 col-lg-12'>
                    <div class="form-group">
                        <label>New Password</label>
                        <input type='text' class="form-control" id="new_pass" required />
                    </div>
                </div>
                <div class='col-md-12 col-lg-12'>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type='text' class="form-control" id="confirm_pass" required />
                    </div>
                </div>
                <input type="hidden" id="csrf_token" name="{{csrf_key}}" value="{{csrf_token}}" />
                <input type="hidden" id="baseurl" name="{{baseurl}}" value="{{baseurl}}" />
                <div class="row ">
                    <div class="form-group col-md-12 col-lg-12">
                        <button class="LightButton mrR20 change-password-btn pull-right" ><i class="fa fa-floppy-o"></i> &nbsp;Save</button>
                    </div>
                </div>
			</div>
		</form>
    </div>
</div>
{% endblock %}