{% block head %}
		{% include 'head.html' %}
		{% include 'scripts.html' %}
	{% endblock %}
{% block content %}
<div class='panel panel-primary dialog-panel' id="forgotPassword">
	<div class='panel-heading'>
		<h3>Forgot Password
			<button class="btn btn-success forgot-password-btn pull-right" ><i class="fa fa-floppy-o"></i> &nbsp;Send</button>
		</h3>
		<p class="errorstyle bg-danger text-left hidden">
			<i class="glyphicon"></i> &nbsp;<span class="errormsg"></span>
		</p>
	</div>
	<div class='panel-body'>
		<form role='form' id="forgotPassword-form">
			<div class="borderStyle" >
				<div class="row form-group required">
					<div class='col-md-4 col-lg-4 col-md-offset-3 col-lg-offset-3'>
						<div class="group">
							<input type='text' id="user_name" required/>
							<span class="highlight"></span>
							<span class="bar"></span>
							<label>Username</label>
						</div>
					</div>
					<div class='col-md-4 col-lg-4 col-md-offset-3 col-lg-offset-3'>
						<div class="group">
							<input type='text' id="E_mail" required/>
							<span class="highlight"></span>
							<span class="bar"></span>
							<label>E-mail</label>
						</div>
					</div>
				</div>
			</div>
			<input type="hidden" id="csrf_token" name="{{csrf_key}}" value="{{csrf_token}}" />
			<input type="hidden" id="baseurl" name="{{baseurl}}" value="{{baseurl}}" />
		</form>
	</div>
</div>
{% endblock %}