{% extends "base.html" %}
{% block content %}


<div class="row" style="padding-top: 10px">
    <div class="col-xs-12 col-md-4 col-lg-4 col-sm-12" style="margin-bottom: 100px;">
		<p class="errorstyle bg-danger text-left hidden">
			<i class="glyphicon"></i> &nbsp;<span class="errormsg"></span>
		</p>
        <form role='form' id="leaveform-submit">
            <div class="borderStyle">
                <h3 class="fieldBorder" style="width: 170px">Leave Module</h3>
                <div class='col-md-12 col-lg-12'>
                    <div class="form-group">
                        <label>Employee List</label>
                        <select id="emp_name" class="form-control" required >
                            <option value="">--Select Employee--</option>
                        </select>
                    </div>
                </div>
                <div class='col-md-12 col-lg-12'>
                    <div class="form-group">
                        <label>Available Leaves:</label>
                        <input type="text" class="form-control" id="avail_leave" disabled />
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <label>From Date</label>
                        <input class="leave-dates form-control" id='id_from_date' onfocusout="(this.type='text')" onfocus="(this.type='date')" zyde-service="date_of_birth" required/>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <label>To Date</label>
                        <input class="leave-dates form-control" id='id_to_date' onfocusout="(this.type='text')" onfocus="(this.type='date')" zyde-service="date_of_birth" required/>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <label>Tags</label>
                        <div id="tagsList"></div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <label>Reason</label>
                        <textarea class="form-control leave_reason leave_details" rows="5" id="lve_reason" required></textarea>
                    </div>
                </div>
                <input type="hidden" id="csrf_token" name="{{csrf_key}}" value="{{csrf_token}}" />
                <input type="hidden" id="baseurl" name="{{baseurl}}" value="{{baseurl}}" />
                <div class="row ">
                    <div class="form-group col-md-12 col-lg-12">
                        <button class="LightButton mrR20 save-totalLeave-btn pull-right"><i class="fa fa-floppy-o"></i> &nbsp;Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-xs-12 col-md-8 col-lg-8 col-sm-12">
        <div class="borderStyle">
            <h3 class="fieldBorder" style="width:230px;">Leave Details</h3>
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-md-12 ">
                        <table id="leave_table" class="table table-bordered table-hover">
                            <thead>
                                <tr >
                                    <th class="">Name</th>
                                    <th class="text-center">From Data</th>
                                    <th class="text-center">To Data</th>
                                    <th class="text-center">Tags</th>
                                    <th class="text-center">Reason</th>
                                </tr>
                            </thead>
                            <tbody id='addtr'>
                                <tr>
                                    <td colspan="5">No records found...</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<div class='panel panel-primary dialog-panel' id="leaveform-details">
	<div class='panel-heading'>
		<h3>Add Leave
			<button class="btn btn-success save-leavemodule-btn pull-right" ><i class="fa fa-floppy-o"></i> &nbsp;Save</button>
		</h3>
		
	</div>
	<div class='panel-body'>
		<form role='form' id="leaveform-submit">
			<div class="borderStyle" >
				<h3 class="fieldBorder">Leave Module</h3>
				
				<div class="row form-group required">
					<div class='col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1'>
						<div class="group">
							<select  id="emp_name" class="" required >
								<option value="">--Select Employee--</option>
							</select>
						</div>
                        <div class="group">
							<input class="leave-dates" id='id_from_date' onfocusout="(this.type='text')" onfocus="(this.type='date')" zyde-service="date_of_birth" required/>
							<span class="highlight"></span>
							<span class="bar"></span>
							<label>From Date</label>
						</div>
						<div class="group">
							<input class="leave-dates" id='id_to_date' onfocusout="(this.type='text')" onfocus="(this.type='date')" zyde-service="date_of_birth" required/>
							<span class="highlight"></span>
							<span class="bar"></span>
							<label>To Date</label>
						</div>
						<div class="group">
							<textarea class="form-control leave_reason leave_details" rows="5" id="lve_reason" required></textarea>
							<span class="highlight"></span>
							<span class="bar"></span>
							<label>Reason</label>
						</div>

					</div>
					<div class='col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1'>
                        <label>Tags</label>
						<div id="tagsList"></div>
					</div>
					<div class='col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1' style="margin-top: 20px;">
						<div class="avail_leave">
							<label>Available Leaves: </label>
							<span id="avail_leave"></span>
						</div>
					</div>
				</div>
			</div>
			<input type="hidden" id="csrf_token" name="{{csrf_key}}" value="{{csrf_token}}" />
			<input type="hidden" id="baseurl" name="{{baseurl}}" value="{{baseurl}}" />
		</form>
	</div>
</div>
-->


{% endblock %}