{% extends "base.html" %}
{% block content %}


<div class="row" style="padding-top: 10px"  id="leaveform-details">
    <div id="leaveform" class="col-xs-12 col-md-4 col-lg-4 col-sm-12 col-md-offset-4" style="margin-bottom: 100px;">
		<p class="errorstyle bg-danger text-left hidden">
			<i class="glyphicon"></i> &nbsp;<span class="errormsg"></span>
		</p>
        <form role='form' id="leaveform-submit">
            <div class="borderStyle">
                <h3 class="fieldBorder" style="width: 300px">Leave Module 
                        <div id="radioBtn" class="btn-group" style="padding-left: 15px;">
                            <a class="btn btn-default btn-sm active" data-toggle="leave" data-title="add">Add</a>
                            <a class="btn btn-default btn-sm notActive" data-toggle="leave" data-title="reports">Reports</a>
                        </div>
                </h3>
                
                <div class='col-md-12 col-lg-12 reportsList hidden'>
                    <div class="form-group">
                        <label>Employee List</label>
                        <select multiple id="employee" class="form-control">
                        </select>                        
                    </div>
                </div>
                <div class='col-md-6 col-lg-6 addList'>
                    <div class="form-group">
                        <label>Employee List</label>
                        <select id="emp_name" class="form-control"></select>
                    </div>
                </div>
                <div class='col-md-6 col-lg-6 addList'>
                    <div class="form-group">
                        <label>Available Leaves:</label>
                        <input type="text" class="form-control" id="avail_leave" disabled />
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>From Date</label>
                        <input class="leave-dates form-control id_from_date" onfocusout="(this.type='text')" onfocus="(this.type='date')" zyde-service="date_of_birth"/>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>To Date</label>
                        <input class="leave-dates form-control id_to_date" onfocusout="(this.type='text')" onfocus="(this.type='date')" zyde-service="date_of_birth"/>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <label>Tags</label>
                        <div id="tagsList"></div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 addList">
                    <div class="form-group">
                        <label>Reason</label>
                        <textarea class="form-control leave_reason leave_details" rows="5" id="lve_reason" ></textarea>
                    </div>
                </div>
                <div class="row ">
                    <div class="form-group col-md-12 col-lg-12">
                        <button class="LightButton mrR20 save-leavemodule-btn pull-right"><i class="fa fa-floppy-o"></i> &nbsp;Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="report_table_tab" class="col-xs-12 col-md-8 col-lg-8 col-sm-12 hidden">
        <div class="borderStyle">
            <h3 class="fieldBorder" style="width:230px;">Leave Details</h3>
            <div class="container-fluid">
                <div class="row clearfix">
                    <div id="report_spinner" class='col-md-12 col-lg-12 hidden'>
                        <div class="form-group text-center">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                        </div>
                    </div>
                    <div class="col-md-12 ">
                        <table id="leave_table" class="table table-bordered table-hover hidden">
                            <thead>
                                <tr >
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Date Applied</th>
                                    <th class="text-center">From Date</th>
                                    <th class="text-center">To Date</th>
                                    <th class="text-center">Tags</th>
                                    <th class="text-center">Reason</th>
                                </tr>
                            </thead>
                            <tbody id='addtr'>
                                <tr id='NoReportData'>
                                    <td colspan="5">No records found...</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="csrf_token" name="{{csrf_key}}" value="{{csrf_token}}" />
    <input type="hidden" id="baseurl" name="{{baseurl}}" value="{{baseurl}}" />
</div>
{% endblock %}