<html>
<head>
	{% block head %}
		{% include 'head.html' %}
		{% include 'scripts.html' %}
	{% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="loginLogo bd-lightGreen pt10 pb10" >
                <img src="{{baseurl}}/assets/img/zydesoft-logo.png" class="Logo" />
            </div>
        </div>
        <div class="row bd-lightGreen pt50 pb50" >
            <form autocomplete="OFF" action="{{baseurl}}/login" method="POST" name="loginform">
                <div id="LoginContainer">
                    <div id="LoginArea" class="pull-right">
                        <div style="clear:both;position:relative;margin-top:20px;">
                            <input id="username" class="FormField" type="text" placeholder="Username" name="username" size="20" maxlength="50" on>
                            <div id="LoginUsernameImg"><img src="{{baseurl}}/assets/img/Icon_FieldUsername.png" width="43" height="36"></div>
                        </div>
                        <div style="clear:both;position:relative;margin-top:15px;">
                            <input id="password" class="FormField" type="password" name="password" size="20" placeholder="Password" />
                            <div id="LoginPasswordImg"><img src="{{baseurl}}/assets/img/Icon_FieldPassword.png" width="43" height="36"></div>
                        </div>
                        <div id="LoginBtnArea">
                            <div style="float:left; line-height:26px">
                                <a href="{{baseurl}}/forgot">Forgot Password?</a>
                            </div>
                            <div class="pull-right">
                                <input id="loginBtn" type="submit" value="LOG IN" class="LightButton">
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}">
            </form>
        </div>
        <div class="row loginIcon bd-lightGreen  pt50 pb50" >
            <div class="col-sm-2 text-center" ></div>
            <div class="col-sm-2 text-center" >
                <i class="glyphicon glyphicon-user"></i>
                <h5>Employee <br/>Management</h5>
            </div>
            <div class="col-sm-2 text-center" >
                <i class="glyphicon glyphicon-calendar"></i>
                <h5>Leave <br/>Configuration</h5>
            </div>
            <div class="col-sm-2 text-center" >
                <i class="glyphicon glyphicon-tag"></i>
                <h5>Tag based <br/>search</h5>
            </div>
            <div class="col-sm-2 text-center" >
                <i class="glyphicon glyphicon-list-alt"></i>
                <h5>Easy <br/>Reports</h5>
            </div>
        </div>
    </div>
	<footer class="footer ">
		<div class="container-fluid">
			<p class="text-muted"> <span style="color:#B4BE31">&#169;</span> leaveTRAC. All rights reserved
                <span class="text-muted pull-right"> Created by <span style="color:#59A77A">Zyde</span><span style="color:#44A5E3">Soft</span> Solution Pvt Ltd.,</span></p>
		</div>
	</footer>
</body>
</html>