{% extends "base.html" %}
{% block content %}
<style>
	  .ui-corner-all
        {
            -moz-border-radius: 4px 4px 4px 4px;
        }
        .ui-widget-content
        {
            border: 5px solid black;
            color: #222222;
            background-color: Red;
        }
        .ui-widget
        {
            font-family: Verdana,Arial,sans-serif;
            font-size: 15px;
        }
        .ui-menu
        {
            display: block;
            float: left;
            list-style: none outside none;
            margin: 0;
            padding: 2px;
        }
        .ui-autocomplete
        {
            cursor: default;
            position: absolute;
        }
        .ui-menu .ui-menu-item
        {
            clear: left;
            float: left;
            margin: 0;
            padding: 0;
            width: 100%;
        }
        .ui-menu .ui-menu-item a
        {
            display: block;
            padding: 3px 3px 3px 3px;
            text-decoration: none;
            cursor: pointer;
            background-color: Green;
        }
        .ui-menu .ui-menu-item a:hover
        {
            display: block;
            padding: 3px 3px 3px 3px;
            text-decoration: none;
            color: White;
            cursor: pointer;
            background-color: ButtonText;
        }
        .ui-widget-content a
        {
            color: #222222;
        }
        .ml5{
        	margin-left: 5px;
        }
</style>
<div class='panel panel-primary dialog-panel' id="role-details">
	<div class='panel-heading'>
		<h3>Role
		<button class="btn btn-success save-role-btn pull-right" ><i class="fa fa-floppy-o"></i> &nbsp;Save</button>
		</h3>
		<p class="errorstyle bg-danger text-left hidden">
			<i class="glyphicon"></i> &nbsp;<span class="errormsg"></span>
		</p>
	</div>
	<div class='panel-body'>
		<form role='form' id="role-submit">
			<div style="border: 1px solid #337AB7;margin-top: 15px;border-radius: 5px;" id="basicinformaton">
				<h3 style="margin-top: -15px;margin-left: 20px;color:#53627A;background: white;width: 88px;padding-left: 8px;margin-bottom: 25px;">Assign</h3>
				<div class="row form-group">
					<div class="row required">
						<div class='col-md-4 col-lg-4 col-sm-10 col-md-offset-1 col-lg-offset-1'>
							<div class="group" id="auto-complete-container">
								<input type='text' class="role-play" id='username_id' zyde-service='username' required/>
								<span class="highlight"></span>
								<span class="bar"></span>
								<label>User Name</label>
							</div>
							<div class="group">
								<input type='pass' class="role-play" id='id_set_password' zyde-service="setpassword" required/>
								<span class="highlight"></span>
								<span class="bar"></span>
								<label>Set Password</label>
							</div>
							<div class="group">
								<select id='id_emp_role' class="role-play" zyde-service="employee_role" required>
									<option></option>
									<option value="admin">Admin</option>
									<option value="employee">Employee</option>
								</select>
								<span class="highlight"></span>
								<span class="bar"></span>
								<label>Employee Role</label>
							</div>
						</div>

					</div>
				</div>
				<div class="row form-group">
					<div class='col-md-10 col-lg-10 col-sm-10 col-md-offset-1 col-lg-offset-1'>
						<table id="user-roles" class="display" cellspacing="0" width="100%">
					        <thead>
					            <tr>
					                <th>UserName</th>
					                <th>Employee Number</th>
					                <th>Roles</th>
					                <th>Employee Status</th>
					                <th>Command</th>
					            </tr>
					        </thead>
					    </table>
				    </div>
			    </div>
			</div>
      		<input type="hidden" id="csrf_token" name="{{csrf_key}}" value="{{csrf_token}}" />
			<input type="hidden" id="baseurl" name="{{baseurl}}" value="{{baseurl}}" />
		</form>
	</div>
</div>

{% endblock %}