{% extends "base.html" %}
{% block content %}

<div class='panel panel-primary dialog-panel' id="Tags">
	<div class='panel-heading'>
		<h3>Tags
			<button class="btn btn-success save-tags-btn pull-right"><i class="fa fa-floppy-o"></i> &nbsp;Save</button>
		</h3>
		<p class="errorstyle bg-danger text-left hidden">
			<i class="glyphicon"></i> &nbsp;<span class="errormsg"></span>
		</p>
	</div>
	<div class='panel-body'>
		<form role='form'>
			<div class="borderStyle" >
				<h3 class="fieldBorder" style="width: 110px;">Set Tags</h3>
				<div class="row form-group required">
					<div class='col-md-6 col-lg-6 col-md-offset-1 col-lg-offset-1'>
						<div class="group">
							<input id="tag_name" type='text' required/>
							<span class="highlight"></span>
							<span class="bar"></span>
							<label>Tags Name</label>
						</div>
					</div>
					<div class='col-md-6 col-lg-6 col-md-offset-1 col-lg-offset-1'>
						<div class="group">
							<input id="tag_desc" type='text' required/>
							<span class="highlight"></span>
							<span class="bar"></span>
							<label>Tags Description</label>
						</div>
					</div>
					<div class='col-md-6 col-lg-6 col-md-offset-1 col-lg-offset-1' style="margin-top: 15px">
							<label>Tags Color</label>
							<input type='color' id="tag_color" value="" required/>
					</div>
				</div>
			</div>
			<div class="borderStyle" style="margin-top:30px">
				<h3 class="fieldBorder" style="width: 170px">Available Tags</h3>
				<div class="row form-group required">
					<div id="NoTags" class='col-md-6 col-lg-6 col-md-offset-1 col-lg-offset-1 hidden'>
						<h4>oops.. No tags Available!!</h4>
					</div>
					<div id="showtags"></div>
				</div>
			</div>
			<input type="hidden" id="csrf_token" name="{{csrf_key}}" value="{{csrf_token}}" />
			<input type="hidden" id="baseurl" name="{{baseurl}}" value="{{baseurl}}" />
		</form>
	</div>
</div>

{% endblock %}
